<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.VideoPathMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.domain.VideoPath">
            <result property="id" column="ID" jdbcType="INTEGER"/>
            <result property="path" column="PATH" jdbcType="VARCHAR"/>
            <result property="remark" column="REMARK" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="sourcePath" column="SOURCE_PATH" jdbcType="VARCHAR"/>
            <result property="vodId" column="VOD_ID" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,PATH,REMARK,
        CREATE_TIME,UPDATE_TIME,SOURCE_PATH,
        VOD_ID
    </sql>
</mapper>
